<div class="form-group-container" style="text-align: center">
    <h2>New Blog</h2>
    <form [formGroup]="blogSaveForm" (ngSubmit)="addBlog(blogSaveForm)" >
      <mat-form-field appearance="outline" >
          <mat-label>Blog Title</mat-label>
          <input matInput type="text" formControlName="blogTitle" required>
          <div *ngIf="blogSaveForm.controls['blogTitle'].invalid && (blogSaveForm.controls['blogTitle'].dirty || blogSaveForm.controls['blogTitle'].touched)">
            <div class="warning" *ngIf="blogSaveForm.controls['blogTitle'].errors" >
              Blog Title is required.
          </div>
        </div>
        </mat-form-field>

        <br>
        
        <mat-form-field appearance="outline">
          <mat-label >Blog Content</mat-label>
          <textarea matInput formControlName="blogContent" required></textarea>
          <div *ngIf="blogSaveForm.controls['blogContent'].invalid && (blogSaveForm.controls['blogContent'].dirty || blogSaveForm.controls['blogContent'].touched)">
            <div class="warning" *ngIf="blogSaveForm.controls['blogContent'].errors">
              Blog Title is required.
          </div>
        </div>
        </mat-form-field>

        <br>

        <mat-form-field appearance="outline">
          <mat-label>Date</mat-label>
          <input matInput disabled>
          {{currentDate | date:'yyyy-MM-dd' }}
        </mat-form-field>

        <br>

        <button type="submit" mat-raised-button color="primary">ADD</button>
    </form>
</div>
